name: Prod Orchestrator

on:
  workflow_dispatch:
    inputs:
      action:
        type: choice
        options: [deployment, rollback]
        default: deployment
      environment:
        type: choice
        options:
          - prod-west
          - prod-east
          - prod-west-followed-by-prod-east
        default: prod-west

jobs:
  run-prod-west:
    if: inputs.environment == 'prod-west'
    uses: ./.github/workflows/prod-orchestrator-core.yml
    with:
      action: ${{ inputs.action }}
      environment: prod-west
    secrets: inherit

  run-prod-east:
    if: inputs.environment == 'prod-east'
    uses: ./.github/workflows/prod-orchestrator-core.yml
    with:
      action: ${{ inputs.action }}
      environment: prod-east
    secrets: inherit

  run-west-first:
    if: inputs.environment == 'prod-west-followed-by-prod-east'
    uses: ./.github/workflows/prod-orchestrator-core.yml
    with:
      action: ${{ inputs.action }}
      environment: prod-west
    secrets: inherit

  approve-east:
    if: inputs.environment == 'prod-west-followed-by-prod-east'
    needs: run-west-first
    runs-on: ubuntu-latest
    environment: prod-east
    steps:
      - run: echo "Approved prod-east"

  run-east-second:
    if: inputs.environment == 'prod-west-followed-by-prod-east'
    needs: approve-east
    uses: ./.github/workflows/prod-orchestrator-core.yml
    with:
      action: ${{ inputs.action }}
      environment: prod-east
    secrets: inherit
